@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
  width: 100%;
  z-index: 1;
}

a {
  text-decoration: none;
}

.onglet a {
  color: black;
  text-decoration: none;
  margin-right: 30px;
  font-size: 15px;
  font-weight: 300;
}

#logo a {
  color: rgb(1, 77, 1);
  font-weight: 700;
  font-size: 25px;
}

.principal {
  display: flex;
  background-image: url("../images/image1.jpg");
  height: 700px;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px 70px;
}

.title1 {
  color: white;
  font-size: 40px;
  font-weight: lighter;
  padding-bottom: 10px;
}

.title2 {
  color: #d5f31f;
  font-size: 45px;
  font-weight: 400;
  padding-bottom: 50px;
}

h2 {
  color: #029d5b;
  font-size: 35px;
  font-weight: 500;
  margin-top: 70px;
  text-align: center;
}

.equipe > .description p {
  padding-bottom: 35px;
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: 500;
}

.equipe img {
  display: block;
  object-fit: cover;
  height: 150px;
  width: 150px;
  clip-path: circle();
  justify-content: space-around;
}

.equipe {
  text-align: center;
  justify-content: flex;
  margin-left: 200px;
  margin-right: 200px;
}

.team {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  flex-direction: row;
}

.team p {
  font-size: 12px;
  margin-bottom: 100px;
  font-weight: 200;
}

.chiffres {
  display: flex;
  justify-content: space-around;
  background-color: #053b44;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
}

.chiffres > div {
  width: 25%;
  text-align: center;
  justify-content: space-evenly;
  padding-top: 20px;
}

section.chiffres > div.chiffre1 > span {
  color: #d5f31f;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0%;
}

section.chiffres > div.chiffre1 > p {
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 40px;
}

section.services > article.liste {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
}

section.services > article.liste img {
  height: 150px;
  width: 150px;
  display: block;
  justify-content: space-around;
  margin: auto;
}

section.services > article.liste > div.img > div#survol {
  background-color: #efefef;
  border-radius: 20px;
  padding: 50px 70px;
  text-align: center;
}

section.services > article.liste > div.img > div#survol:hover {
  background-color: rgb(183, 181, 181);
  border-radius: 20px;
}

section.services > article.liste > div.img > h4 {
  font-weight: 400;
  font-size: 30px;
}

section.formulaire {
  background-color: #053b44;
  padding-left: 300px;
  padding-right: 300px;
}

section.formulaire > form > div.hform h2 {
  text-align: center;
  color: #d5f31f;
  padding-top: 50px;
  font-size: 40px;
  font-weight: 500;
}

section.formulaire > form > div.hform p {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

section.formulaire > form > article.bodyform {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.mep,
.field-100 {
  width: 100%;
}

.block {
  flex-grow: 1;
}

.TV,
.NC {
  display: flex;
  justify-content: stretch;
  gap: 35px;
}

input::placeholder,
textarea::placeholder {
  color: white;
  font-weight: 300;
  font-size: smaller;
}

section input,
textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

textarea {
  resize: none;
}

form > div.bouton {
  text-align: right;
  padding-bottom: 50px;
  margin-top: 20px;
}

form > div.bouton > input {
  border-radius: 30px;
  text-align: center;
  background-color: #d5f31f;
  font-size: smaller;
  height: 45px;
  width: 140px;
  border: none;
}

.propos {
  display: flex;
  justify-content: space-around;
  padding: 0 150px;
  margin-top: 100px;
  margin-bottom: 150px;
  gap: 20px;
}

.photo img {
  display: block;
  border-radius: 30px;
  width: 45%;
  object-fit: contain;
}

.a_propos {
  display: flex;
  border: 1px solid #021518;
  border-radius: 20px;
  width: 45%;
  flex-direction: column;
  align-items: center;
}

.text h3 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.text p {
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}

.img {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* 
section.propos {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  justify-content: space-around;
}

section.propos > article.photo > img {
  border-radius: 30px;
  display: flex;
  object-fit: contain;
  height: auto;
  width: 400px;
}

section.propos > article.apropos {
  border: 1px solid;
  border-radius: 10px;
  height: auto;
  width: 50%;
}

section.propos > article.apropos > div.text p {
  font-size: smaller;
}

section.propos > article.apropos > div.img {
  display: flex;
  justify-content: space-around;
  border-radius: 50%;
}

section.propos > article.apropos > div.img img {
  border: 3px solid;
  height: 70px;
  width: 70px;
  border-radius: 50%;
} */

section.galerie p {
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 80px;
}

.mySlides {
  display: none;
}

div.slideshow-container > img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position de "next button" à la droite */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* En survol, ajoutez la couleur noire de l'arrière-plan avec un peu see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next {
    font-size: 11px;
  }
}

section.contacts {
  background-color: #053b44;
  color: white;
  display: flex;
  justify-content: space-around;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 30px;
}

section.contacts p {
  font-size: smaller;
}

article > div.tel {
  display: flex;
  margin-top: 20px;
}

section.bottom {
  background-color: #021518;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

section.bottom p {
  text-align: left;
  padding-left: 70px;
  padding-bottom: 20px;
}

section.bottom > div.reseaux {
  justify-content: space-around;
  height: 100px;
  width: 15em;
  padding-top: 40px;
}

section.bottom > div.reseaux i {
  height: 30px;
  width: 30px;
  border: white 1px solid;
  border-radius: 2px;
  text-align: center;
  padding-top: 2%;
}

section.bottom > div.copyright {
  padding-top: 20px;
}
