*{
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

nav{
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

a{
	text-decoration: none;

}

.onglet a{
	color : black;
	text-decoration: none;
	margin-right: 10px;
}

#logo a{
	color:green;
}

.principal{
	display: flex;
	background-image: url("image1.jpg");
	height: 450px;
	background-size:cover;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 20px 70px;

}

.title1{
	color: white;
}

.title2{
	color: #d5f31f
}

.equipe img {
	object-fit: cover;
	height: 150px;
	width: 150px;
	clip-path:circle();
}

.equipe {
	text-align: center;
	justify-content:flex;

}