*{
	box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

nav{
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

a{
	text-decoration: none;

}

.onglet a{
	color : black;
	text-decoration: none;
	margin-right: 10px;
}

#logo a{
	color:green;
}

.principal{
	display: flex;
	background-image: url("image1.jpg");
	height: 450px;
	background-size:cover;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 20px 70px;

}

.title1{
	color: white;
}

.title2{
	color: #d5f31f
}

.equipe img {
	object-fit: cover;
	height: 150px;
	width: 150px;
	clip-path:circle();
}

.equipe {
	text-align: center;
	justify-content:flex;

}

.team {
	display: flex;
}

.chiffres{
	display: flex;
	justify-content: space-between;
	background-color: #053B44;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

.chiffres p{
	color: white;
}

.chiffres h2{
	color: #d5f31f;
}

.liste {
	display: flex;
	padding-block: 50px;
	margin-left: 200px;
	justify-content: space-between;
	margin-right: 200px;
}

.services h1{
	color: #029D5B;
	text-align: center;
}

.liste img{
	height: 100px;
	width: 120px;
}